.header {
  @include bgc($dark-color);
  min-height: 2170px;
  &-top {
    padding-top: 60px;
    @include flexbox(
      (
        justify-content: space-between,
      )
    );
  }
  &-menu-list {
    list-style-type: none;
  }
  &-menu-items {
    display: inline-block;
    & + & {
      margin-left: 32px;
    }
  }
  &-menu-link {
    text-decoration: none;
    color: $light-color;
    display: block;
  }
  &-main {
    @include flexbox(
      (
        align-items: center,
      )
    );
  }
  &-group {
    margin-left: 56px;
    color: white;
  }
  &-group-dash {
    margin: 0 24px;
    // display: inline-block;
    // @include bgc(#F2F2F2);
    // @include size(1.5px, 38px);
    // opacity: 0.3;
  }
  &-group-text {
    text-decoration: none;
    color: $light-color;
    font-weight: 500;
    font-size: 16px;
  }
}
